<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DocSerach{% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', path='/fontawesome/css/fontawesome.min.css') }}" />
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', path='/fontawesome/css/solid.css') }}" />
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', path='/css/styles.css') }}" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}
</body>
</html>